@font-face {
    font-family: mc;
    src: url(/newhomev6/home2/assets/Minecraft.ttf);
}


.cmdwindow {
    background-color: #080808;
    /* background-image: url(/newhomev6/img/placeholder.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 240px;
    width: 240px;
    top: 0;
    left: 0;
    z-index: 10;
    filter: drop-shadow(0 0 4px black);
}

.cmdtbar {
    height: 18px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 4px;
    box-sizing: border-box;
    border-top: 2px solid #fdffff;
    border-left: 2px solid #fdffff;
    border-right: 2px solid #818181;
    border-bottom: 2px solid #818181;
}

.cmdmenubar {
    height: 18px;
    width: 100%;
    position: relative;
    top: 20px;
    background-color: #c3c3c3;
    font-size: 12px;
    padding: 0 4px;
}

.cmdLineSpace {
    width: 100%;
    height: calc(100% - 22px);
    text-align: left;
    font-size: 14px;
    color: white;
    font-family: 'mc';
    line-height: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cmdLineSpace::-webkit-scrollbar {
  display: none;
}


/* .cmdOut {
    padding-left: 6px;
} */

/* .cmdIn {
    font-weight: bold;
} */

.debugwindow {
    background-color: #b6b6b6;
    /* background-image: url(/newhomev6/img/placeholder.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 240px;
    width: 240px;
    top: 0;
    left: 0;
    z-index: 10;
    filter: drop-shadow(0 0 4px black);
}

.debugtbar {
    height: 18px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 4px;
    box-sizing: border-box;
    border-top: 2px solid #fdffff;
    border-left: 2px solid #fdffff;
    border-right: 2px solid #818181;
    border-bottom: 2px solid #818181;
}

.debugmenubar {
    height: 18px;
    width: 100%;
    position: relative;
    top: 20px;
    background-color: #c3c3c3;
    font-size: 12px;
    padding: 0 4px;

}

#debugConsole {
    background-color: black;

        overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 200px;
}

#debugConsole::-webkit-scrollbar {
  display: none;
}

.winfnwindow {
    background-color: #b6b6b6;
    /* background-image: url(/newhomev6/img/placeholder.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 240px;
    width: 240px;
    top: 0;
    left: 0;
    z-index: 10;
    filter: drop-shadow(0 0 4px black);
}

.winfntbar {
    height: 18px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 4px;
    box-sizing: border-box;
    border-top: 2px solid #fdffff;
    border-left: 2px solid #fdffff;
    border-right: 2px solid #818181;
    border-bottom: 2px solid #818181;
}

.winfnmenubar {
    height: 18px;
    width: 100%;
    position: relative;
    top: 20px;
    background-color: #c3c3c3;
    font-size: 12px;
    padding: 0 4px;
}

.multiwindow {
    background-color: #b6b6b6;
    /* background-image: url(/newhomev6/img/placeholder.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 240px;
    width: 240px;
    top: 0;
    left: 0;
    z-index: 10;
    filter: drop-shadow(0 0 4px black);
}

.multitbar {
    height: 18px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 4px;
    box-sizing: border-box;
    border-top: 2px solid #fdffff;
    border-left: 2px solid #fdffff;
    border-right: 2px solid #818181;
    border-bottom: 2px solid #818181;
}

.multimenubar {
    height: 18px;
    width: 100%;
    position: relative;
    top: 20px;
    background-color: #c3c3c3;
    font-size: 12px;
    padding: 0 4px;

}

.multiList {
    height: clac(100% - 18px);
    width: 100%;
}